.template {
    align-content: center;
    justify-content: center;
}

.template > input {
    height: 30px;
    width: 30%;   
    padding: 0;
    outline: none;
    border: none;
    border-bottom: solid black 0.1rem;
    background-color: transparent;
    margin-right: 10px;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}

.template > select {
    height: 20px;
    width: 15%;
    margin-top: 10px;
    margin-right: 10px;
    outline: none;
    border: none;
    border-bottom: solid black 0.1rem;
    background-color: transparent;
    text-align: center;
    font-family: 'Playpen Sans', cursive;
}