
body {
  height: 100%;
  background-image: repeating-linear-gradient(white 0px, white 24px, teal 25px); /* credit to https://www.codesdope.com/blog/article/getting-notebook-paper-effect-with-css/  */
}

.paper {
  width: 2px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 80px;
  background-color: rgba(255,0,0,0.6);
}